@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar{
    height: 8px !important;
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb{
    /* background-color: #265b72; */
    background-color: #dde5eb;
}